<ul>
    <li>It is so super awesome to see you, Friend!</li>
    <li><%= link_to 'Log in', login_path %></li>
    <li> <%= link_to 'Sign up', new_user_path %=></li>
    <li><%= link_to 'Log out', logout_path, method; :delete %=>/li>

</ul>